/* styles for form groups */
.form-group {
    margin-bottom: 20px;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 25px 0 5px;

        .column {
            flex: 1;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="radio"] {
        margin-top: 5px;
    }
}

/* styles for skill section */
.skill-header {
    display: flex;
    justify-content: space-between;
}

.skill-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="text"] {
        margin-right: 20px;
    }
}

/* styles for buttons */
button {
    padding: 8px;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

.green {
    margin-bottom: 10px;
    background-color: #38963b;

    &:hover {
        background-color: #2f7d2f;
    }
}

.blue {
    margin-left: 5px;
    background-color: #007bff;

    &:hover {
        background-color: #0056b3;
    }
}

.delBtn {
    margin: 15px 0 10px 50px;
    border: none;
    color: white;
    background-color: red;
}